server:
  port: ${USER_SERVICE_PORT}

base-package:
  jpa: "info.tourkorea.userservice"
  openfeign: "info.tourkorea.userservice.infrastructure"

feign-url:
  article-service: ${ARTICLE_URL}

mail.client.url: ${MAIL_CLIENT_URL}

spring:
  application:
    name: user-service
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO}
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    database: mysql

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_SERVICE_URL}
      registry-fetch-interval-seconds: ${EUREKA_FETCH_INTERVAL}
      disable-delta: false

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type: trace

google:
  client-id: ${GOOGLE_CLIENT_ID}
  client-secret: ${GOOGLE_CLIENT_SECRET}
  scope:
    - email
    - profile

facebook:
  client-id: ${FACEBOOK_CLIENT_ID}
  client-secret: ${FACEBOOK_CLIENT_SECRET}

jwt:
  secret-key: ${JWT_TOKEN_SECRET}
  accessToken-expired-time-ms: ${JWT_TOKEN_EXPIRED_TIME}