server:
  port: ${NOTIFICATION_PORT}

spring:
  application:
    name: notification-service
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true

  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: ${DDL_AUTO}
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_SERVICE_URL}
      registry-fetch-interval-seconds: ${EUREKA_FETCH_INTERVAL}
      disable-delta: false

jwt:
  secret-key: ${JWT_TOKEN_SECRET}
  accessToken-expired-time-ms: ${JWT_TOKEN_EXPIRED_TIME}

base-package:
  jpa: "info.tourkorea.notificationservice"
  openfeign: "info.tourkorea.notificationservice.infrastructure"

property:
  path: ${PROPERTY_PATH}